---
layout: default
title: The idodev archive
page-class: page-archive
permalink: /archive/
---
    
<h1 class="accessibility">The idodev Archive</h1>

<section class="posts">
    <ul class="block-list">
        {% for post in site.posts %}
        <li>
            <span class="post-time">{{ post.date | date: "%d %B, %Y" }}</span>
            <span class="post-comment-count"><a href="{{ post.url }}/#disqus_thread">...</a></span>
            <h2 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>
            	{{ post.content | split :'</p>' | first | strip_html | truncatewords:60}}
            	<br />
            	<a href="{{ post.url }}">Read more&raquo;</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</section>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'idodev'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>