---
layout: default
"page-class": "page-post"
published: true
---


<article class="post">
    <span class="post-time"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d %B, %Y" }}</time></span>
  {% if page.img %}
  	<img class="post-headline-image" src="{{page.img}}" alt="{{page.imgalt}}"  />
  {% endif %}
  <h1>{{ page.title }}</h1>
      
    {{ content }}

	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'idodev'; // required: replace example with your forum shortname
		function disqus_config() {
          this.callbacks.onNewComment = [function() {
            ga('send', 'event', 'Posts', 'New Comment');
          }];
      	}
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</article>
